<!doctype html>
<html>
  <head>
    <title>Relaxed Ruby Style</title>
    <%= stylesheet_link_tag "all" %>

    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="description" content="A Relaxed Style Guide for Ruby!"/>
    <meta name="keywords" content="ruby, style, guide, rubocop, formatting"/>
    <%= javascript_include_tag "jquery.min", "patches" %>
  </head>

  <body>
    <div class="world">
      <section class="post-header">
        <a href="#top" class="post-logo"><img src="/images/relaxed.ruby.png" alt="Relaxed. Ruby"></a>
        <h1 class="post-heading" id="top"><a href="#top">Relaxed Ruby Style</a></h1>
      </section>

     	<article class="post"><%= yield.sub(%r_<h1.*?</h1>_, '') %></article>
    </div>
    <a href="https://github.com/janlelis/relaxed.ruby.style"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
  </body>
</html>
